PGHOST=postgres
PGPORT=5432
PGUSER=admin
PGPASSWORD=admin
PGDATABASE=ms_payments_db
PORT=3003
MODE=DEV
RUN_MIGRATIONS=true
DATABASE_HOST= localhost
DATABASE_PORT= 5432
DATABASE_USER= admin
DATABASE_PASSWORD= admin
DATABASE_NAME= ms_payments_db
RABBITMQ_HOST= rabbitmq
RABBITMQ_PORT= 5672
RABBITMQ_USER= admin
RABBITMQ_PASS= admin
RABBITMQ_URL = "amqp://admin:admin@rabbitmq:5672"
API_COMPANY_URL = "https://api-sandbox.co.uat.wompi.dev/v1"
COMPANY_API_KEY = "pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7"
COMPANY_PRIVATE_API_KEY = "prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg"
COMPANY_INTEGRITY_KEY = "stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp"
COMPANY_EVENT_KEY = "stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N"
ENDPOINT_TOKEN_CARD = "tokens/cards"
ENDPOINT_ACCEPTANCE_TOKEN = "/merchants"
ENDPOINT_PAYMENT_METHOD = "payment_sources"
ENDPOINT_PAYMENT_STATUS = ""
ENDPOINT_PROCESS_PAYMENT = "transactions"